<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gráfico de la Red</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Gráfico de la Red</h1>
    <img src="data:image/png;base64,{{ image_data }}" alt="Gráfico de la red">

    <form action="{{ url_for('calcular_rutaBellmanFord') }}" method="post">
        <label for="nodo_inicial">Nodo Inicial:</label>
        <input type="number" id="nodo_inicial" name="nodo_inicial" min="1" required>
        <br>
        <label for="nodo_final">Nodo Final:</label>
        <input type="number" id="nodo_final" name="nodo_final" min="1" required>
        <br>
        <input type="submit" value="Calcular Ruta">
    </form>
</body>
</html>
