<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Página de Inicio</title>
</head>
<body>
    <h1>Descubre tu mejor ruta con ¡Algoritmo Dijstrak!</h1>
    <p>Para manejar la red de tu organización, tienes que tener en cuenta lo siguiente:</p>
    <p>1. Podrás ver cómo está distribuida la red de tu institución correspondiente.</p>
    <p>2. Podrás elegir el origen y el destino para cada router distribuido.</p>
    <p>3. Con el código Dijkstra, podrás observar cuál camino es el mejor para tener una conectividad eficiente.</p>
    <p>Por favor, selecciona una opción:</p>
    <form action="/grafo_graficado">
        <input type="submit" value="Ver Gráfico Original">
    </form>
    <form action="/dijkstra">
        <input type="submit" value="Calcular Ruta">
    </form>
</body>
</html>