<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gráfico de la Red</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Gráfico de la Red</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <img src="data:image/png;base64,{{ image_data }}" alt="Gráfico de la red">

    <form action="/calcular_ruta" method="post">
        <label for="nodo_inicial">Nodo Inicial:</label>
        <input type="text" id="nodo_inicial" name="nodo_inicial" required>
        <br>
        <label for="nodo_final">Nodo Final:</label>
        <input type="text" id="nodo_final" name="nodo_final" required>
        <br>
        <input type="submit" value="Calcular Ruta">
    </form>
    <a href="/">Volver</a>
</body>
</html>
